/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    background-color: var(--VERY-DARK-BLUE);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}

/* END OF CSS RESET */

:root {
    --ORANGE: hsl(25, 97%, 53%);
    --RATING-RESULT-BG: hsl(32, 58%, 47%);
    --WHITE: hsl(0, 0%, 100%);
    --LIGHT-GRAY: hsl(217, 12%, 63%);
    --MEDIUM-GRAY: hsl(216, 12%, 54%);
    --DARK-BLUE: hsl(213, 19%, 18%);
    --VERY-DARK-BLUE: hsl(216, 12%, 8%);
    --ICON-BG-COLOR: hsla(216, 12%, 54%, 0.1);

    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: var(--LIGHT-GRAY);
}

.card-container {
    width: clamp(10rem, 27.645rem, 35rem);
    height: clamp(10rem, 27.645rem, 35rem);
    background-color: var(--DARK-BLUE);
    margin-inline: min(6vw, 2rem);
    padding: min(2rem, 6vw);
    border-radius: 1.8rem;
}

.circle {
    width: fit-content;
    padding: min(1rem, 3.5vw);
    border-radius: 50%;
    background-color: var(--ICON-BG-COLOR);
    margin-bottom: 1.15rem;
}

.star {
    width: min(17px, 4vw);
    height: auto;
}

.rating-question {
    font-size: min(1.55rem, 16vw);
    font-weight: 400;
    color: var(--WHITE);
    word-spacing: 0.05rem;
    margin-bottom: 0.49rem;
}

.feedback-request {
    line-height: 1.55rem;
    margin-bottom: 1.7rem;
    font-size: 1rem;
}

.ratings {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.6rem;
}

.ratings>* {
    width: min(3.2rem, 11vw);
    height: min(3.2rem, 11vw);
    line-height: min(3.2rem, 11vw);
    text-align: center;
    border-radius: 50%;
    background-color: var(--ICON-BG-COLOR);
}

.rating:hover {
    background-color: var(--ORANGE);
    color: var(--WHITE);
    cursor: pointer;
}

.selected {
    background-color: var(--MEDIUM-GRAY);
    color: var(--WHITE);
}

.submit-btn {
    height: 2.95rem;
    line-height: 3rem;
    color: var(--WHITE);
    background-color: var(--ORANGE);
    border: none;
    border-radius: 5rem;
    letter-spacing: 0.12rem;
    font-size: min(1rem, 3.7vw);
}

.submit-btn:hover {
    background-color: var(--WHITE);
    color: var(--ORANGE);
    cursor: pointer;
}

.feedback-request,
.ratings,
.submit-btn {
    width: min(25rem, 100%);
}

.thank-you-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-block: 0.55rem;
}

[hidden] {
    display: none;
}

.thank-you-img {
    width: 9.8rem;
    height: auto;
}

.client-rating-container {
    color: var(--RATING-RESULT-BG);
    background-color: var(--ICON-BG-COLOR);
    padding: 0.42rem 1.15rem 0.22rem 1.15rem;
    margin-top: 1.5rem;
    border-radius: 20rem;
    text-align: center;
    font-size: 0.95rem;
}

.thank-you-title {
    font-size: 1.58rem;
    margin-block: 1.65rem 0.6rem;
    color: var(--WHITE);
    font-weight: 400;
}

.thank-you-msg {
    font-size: 0.95rem;
}

@media screen and (max-width: 376px) {
    .feedback-request {
        font-size: 0.96rem;
    }

    .card-container {
        max-height: 24rem;
        padding-top: 7vw;
    }
}

@media screen and (min-width: 600px) {
    .rating-question {
        font-size: 1.88rem;
    }

    .card-container {
        padding: min(2rem, 6vw);
    }

    .circle {
        margin-top: 0.3rem;
        margin-bottom: 1.9rem;
    }

    .client-rating-container {
        margin-top: 2rem;
        font-size: 1rem;
    }

    .thank-you-title {
        margin-top: 2.2rem;
        font-size: 1.85rem;
    }

    .ratings {
        margin-bottom: 2.23rem;
    }

    .ratings>* {
        width: min(3.4rem, 11vw);
        height: min(3.4rem, 11vw);
    }

    .thank-you-img {
        width: 10.7rem;
        height: auto;
        margin-top: 0.55rem;
    }

    .thank-you-msg {
        font-size: 1rem;
        margin-inline: 0.5rem;
    }
}